.logo-header {
  margin-top: 80px;
  padding-left: 10%;
  .logo-header-cursor {
    cursor: pointer;
  }
}

.profile-headers {
  padding-right: 10%;
  align-self: center;
  text-align: end;
  margin-top: 80px;
}

.avatar-header {
  margin-left: 36px;
  cursor: pointer;
}
