.image-product-wrapper {
  margin-top: 52px;
  margin-left: 10%;
  text-align: center;

  .img-product-detail {
    object-fit: cover;
    width: 436px;
    height: 555px;
    border-radius: 10px;
  }
}

.detail-product-wrapper {
  margin-top: 52px;
  padding-left: 40px;

  .product-title-detail {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #bd0707;
  }

  .product-price-detail {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #974a4a;
  }

  .product-toping-detail {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #974a4a;
  }

  .product-toping-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10%;
    .toping-wrapper {
      margin-right: 10px;
      min-width: 150px;
      .round {
        position: relative;
        text-align: center;
        width: auto;
        margin-top: 10px;
        margin-left: 15px;
        .img-toping1 {
          position: relative;
          width: 75px;
          height: 85px;
          object-fit: cover;
          cursor: pointer;
        }
      }

      .round .label-checkbox {
        background-color: tra;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        height: 25px;
        right: 20%;
        top: 5%;
        position: absolute;
        width: 25px;
      }

      .round .label-checkbox:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 7px;
        transform: rotate(-45deg);
        width: 12px;
      }

      .round input[type="checkbox"] {
        visibility: hidden;
      }

      .round input[type="checkbox"]:checked + .label-checkbox {
        background-color: #66bb6a;
        border-color: #66bb6a;
      }

      .round input[type="checkbox"]:checked + .label-checkbox:after {
        opacity: 1;
      }
      .title-toping-wrapper {
        padding: 10px;
        .title-toping {
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: #974a4a;
          cursor: pointer;
        }
        .title-toping-price {
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          margin-top: -15px;
          line-height: 19px;
          text-align: center;
          color: #974a4a;
          cursor: pointer;
        }
      }
    }
  }

  .total-product {
    margin-top: 3%;
    margin-right: 13%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #974a4a;
    &:p {
      text-align: right;
    }
    .total-product-price {
      text-align: end;
      margin-right: 15px;
    }
  }

  .btn-add-cart {
    width: 83%;
    height: 40px;
    background: #bd0707;
    border-radius: 5px;
    border: 2px solid #bd0707;

    font-family: Avenir;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    align-items: center;
    text-align: center;

    color: #ffffff;

    &:hover {
      background: #fff;
      border: 2px solid #bd0707;
      color: #bd0707;
    }
  }
}
