.form-textarea-payment {
    width: 420px;
    height: 130px;
    background: rgba(224, 200, 200, 0.25);
    border: 2px solid #BD0707;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: rgba(104, 50, 50, 0.5);
}